 @import "../../css/extends";
@import "../../handlebars_partials/inputPartial/input";
@import '../../modules/button/button';
@import"../../css/variables";


.login_form {
    @extend %auth-form-style;
    height: 460px;
    
}

.login_section {
    height: 60%;
}

.auth_header {
    @extend %font-base;
    font-size: 20px;
    margin-bottom: 35px;
}

.login_link {
    position: absolute;
    bottom: 30px;
    left: 131px;
}
