 @importport "../../../css/extends";
@import "../../../css/variables";

.chat_area_mock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.chat_area_mock_text {
    @extend %font-base;
}
