@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import './extends';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  @extend %font-base;
  @extend %zero;
  background: #fff;
  color: $black-color;

  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 100%;
}

p,
h1,
h2 {
  @extend %zero;
}

button {
  @extend %zero;
  background: none;
  border-style: none;
}

input {
  background: none;
  border-style: none;
  font-family: $font-stack;
  font-size: 13px;
  font-weight: 500;
}

a {
  font-size: 11px;
  margin: 0;
  text-decoration: none;
}

input:focus,
a:focus,
button:focus {
  outline: none;
}

ul {
  @extend %zero;

  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 250px;
}

.blue {
  background-color: $blue-color;
  color: #fff;
}

.grey {
  color: $grey-color;
}

.black {
  color: $black-color;
}

.blue_link {
  color: $blue-color;
}

.red_link {
  color: $red-color;
}

.button {
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}
