$blue-color: #3369f3;
$black-color: #1e1e1e;
$red-color: #f00;
$grey-color: #999;
$light-grey-color: #eaeaea;
$white-color: #fbfbfb;

$font-stack: 'Inter', sans-serif;
$font-weight: 500;
$font-size: 12px;
