$blue-color: #3369F3;
$black-color: #1E1E1E;
$red-color: #FF0000;
$grey-color: #999999;
$light-grey-color: #EAEAEA;
$white-color: #FBFBFB;

$font-stack: 'Inter', sans-serif;
$font-weight: 500;
$font-size: 12px;
