

.popup {
    position: absolute;
    width: 370px;
    height: 257px;
    top: (232/720) *100%;
    left: (470/1280)*100%;
    padding: 30px 40px 30px 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    text-align: center;
    display: none;
    z-index: 1000;
}

.popup_form_header {
    font-weight: 500;
    margin-bottom: 30px;
}

.popup_form_button {
    position: absolute;
    left: (505/1280)*100%;
    bottom: 300/720*100%;
}

.popup_form {
    margin-bottom: 40px;
}