.popup_upload {
    margin-bottom: 45px;
}

.popup_upload_label {
    color: #3369F3;
    text-decoration: underline;
    text-decoration-color: #3369F3;
    input[type="file"] {
        opacity: 0;
    }
}